<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1> Contacto </h1>
            <a href="../index.jsp"><button>Menu</button></a>
            <p>
                Desarrollado por: Alan Eduardo Tapia Vazquez<br>
                Estudiante Ingeniería Informática <br>
                Correo: tapiavazquez.l1518@gmail.com    <br>
                GitHub: @TaponTV
            </p>
        </div>
    </body>
</html>
